.section-what-text{
    height: 50vh;
    padding-top: 3vh;
}

.book{
    height: 60vh;
    margin-bottom: 7vh;
}

@media only screen and (max-width: 1200px) {
    .section-what-text {
        height: 70vh;
        padding-top: 2vh;
    }

    .book{
        margin-bottom: 15vh;
    }
}

@media only screen and (max-width: 800px) {
    .section-what-text {
        height: 100vh;
        padding-top: 2vh;
    }
}

@media only screen and (max-width: 450px) {
    .section-what-text {
        height: 120vh;
    }
    
    .book{
        margin-bottom: 15vh;
    }
}

@media only screen and (max-width: 400px) {
    
    .section-what-text {
        height: 140vh;
    }

    .book{
        margin-bottom: 25vh;
    }

    .blockquote{
        font-size: 1.1rem;
    }
}
