.section-what-text{
    height: 50vh;
    padding-top: 3vh;
}

.book{
    height: 60vh;
    margin-bottom: 7vh;
}

@media only screen and (max-width: 1200px) {
    .section-what-text {
        height: 70vh;
        padding-top: 2vh;
    }
    .book{

        margin-bottom: 15vh;
    }
    .makebtn{
        font-size: 2vh;
        padding: 2vh 5vh;
    }
}

@media only screen and (max-width: 980px) {
    .section-what-text {
        height: 70vh;
        padding-top: 2vh;
    }



}

@media only screen and (max-width: 800px) {
    .section-what-text {
        height: 100vh;
    }
    .book{

        margin-bottom: 15vh;
    }

}

@media only screen and (max-width: 380px) {
    
    .section-what-text {
        height: 180vh;
    }

    .book{

        margin-bottom: 25vh;
    }
}
